@font-face {
  font-family: "JosefinSans-700";
  src: url("./assets/fuente/JosefinSans-700.ttf");
}

@font-face {
  font-family: "JosefinSans-400";
  src: url("./assets/fuente/JosefinSans-400.ttf");
}


html{
	box-sizing: border-box;
	font-size: 18px;
  font-family: "JosefinSans-400";
}



*,
*:after,
*:before{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}


